<div class="todo-list">
  @if (todos().length === 0) {
    <p class="todo-list__empty-state">No todos yet. Add one!</p>
  } @else {
    <ul class="todo-list__items">
      @for (todo of todos(); track todo.id) {
        <li class="todo-list__item">
          <app-custom-checkbox
            [checked]="todo.completed"
            (change)="toggleCompletion(todo.id)"
          ></app-custom-checkbox>

          <div class="todo-list__text" [ngClass]="{ 'todo-list__text--completed': todo.completed }">
            {{ todo.text }}
          </div>

          <button class="todo-list__delete-button" (click)="deleteTodo(todo.id)">
            <img src="assets/icons/icon-cross.svg" alt="Delete">
          </button>
        </li>
      }
  </ul>
  }
</div>
