:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.todo-list {
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  margin: -3rem 1.5rem 2.5rem;
  box-shadow: 0 3.5rem 5rem -1.5rem rgba(194, 195, 214, .5);
  background-color: var(--input-list-bg);
  border-radius: 6px;

  @media (max-width: 375px) {
    margin: -1.7rem 1.5rem 1rem;
  }

  &__empty-state {
    padding: var(--box-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (max-width: 375px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: var(--box-padding);
    border-bottom: 1px solid var(--list-divider-color);
    cursor: move;

    &:hover .todo-list__delete-button,
    &:focus-within .todo-list__delete-button {
      opacity: 1;
      visibility: visible;
    }

    &:focus-within {
      outline: 2px solid var(--focus-outline-color);
    }
  
    &:last-child {
      border-bottom: none;
    }
  }

  &__text {
    transition: color 0.3s, text-decoration 0.3s;

    &--completed {
      color: var(--dark-grayish-blue-light);
      text-decoration: line-through;
    }
  }

  &__delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s, border 0.15s, box-shadow 0.15s, background-color 0.15s, transform 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 1rem;
      height: 1rem;
      transition: transform 0.15s;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 2px solid var(--bright-blue);
      box-shadow: 0 0 0 2px rgba(85, 221, 255, 0.5);
      background-color: rgba(85, 221, 255, 0.1);
    }

    &:hover img,
    &:focus img {
      transform: scale(1.1);
    }

    &:hover:active img,
    &:focus:active img {
      transform: scale(0.95);
    }

    &:focus {
      border-color: var(--bright-blue);
      box-shadow: 0 0 0 2px rgba(85, 221, 255, 0.5);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--box-padding);
    border-top: 1px solid var(--list-divider-color);
    font-size: 0.9rem;

    @media (max-width: 500px) {
      .todo-list__filters {
        display: none;
      }
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__filters-mobile {
    display: none;
    justify-content: center;
    gap: 1rem;
    padding: var(--box-padding);
    margin: 0 1.5rem 1rem;
    width: 100%;
    background-color: var(--input-list-bg);
    box-shadow: 0 3.5rem 5rem -1.5rem rgba(194, 195, 214, 0.5);
    border-radius: 6px;
    z-index: 1;

    @media (max-width: 500px) {
      display: flex;
    }

    @media (min-width: 375px) {
      margin-top: -1rem;
    }
  }

  &__filters button,
  &__filters-mobile button {
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    padding: 0.4rem 0.3rem 0.3rem;
    border-radius: 2px;
    color: var(--very-dark-grayish-blue-dark1);
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;

    &:hover,
    &:focus {
      color: var(--very-dark-blue);
      background-color: var(--very-light-gray);
    }
  }

  &__filters button.active,
  &__filters-mobile button.active {
    color: var(--bright-blue);
    background-color: transparent;
  }

  &__clear-completed {
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    padding: 0.4rem 0.3rem 0.3rem;
    border-radius: 2px;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;

    &:hover,
    &:focus {
      color: var(--very-dark-blue);
      background-color: var(--very-light-gray);
    }
  }

  .cdk-drag-preview {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .todo-list__items.cdk-drop-list-dragging .todo-list__items:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
