.todo-list {
  position: relative;
  width: var(--container-width);
  margin: 0 auto 5rem;
  box-shadow: 0 3.5rem 5rem -1.5rem rgba(194, 195, 214, .5);
  background-color: var(--input-list-bg);
  border-radius: 6px;

  &__empty-state {
    width: 100%;
    padding: var(--box-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--box-padding);
    border-bottom: 1px solid var(--list-divider-color);

    &:hover .todo-list__delete-button,
    &:focus-within .todo-list__delete-button {
      opacity: 1;
      visibility: visible;
    }

    &:focus-within {
      outline: 2px solid var(--focus-outline-color);
    }
  
    &:last-child {
      border-bottom: none;
    }
  }

  &__text {
    transition: color 0.3s, text-decoration 0.3s;

    &--completed {
      color: var(--dark-grayish-blue-light);
      text-decoration: line-through;
    }
  }

  &__delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s, border 0.15s, box-shadow 0.15s, background-color 0.15s, transform 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 1rem;
      height: 1rem;
      transition: transform 0.15s;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 2px solid var(--bright-blue);
      box-shadow: 0 0 0 2px rgba(85, 221, 255, 0.5);
      background-color: rgba(85, 221, 255, 0.1);
    }

    &:hover img,
    &:focus img {
      transform: scale(1.1);
    }

    &:hover:active img,
    &:focus:active img {
      transform: scale(0.95);
    }

    &:focus {
      border-color: var(--bright-blue);
      box-shadow: 0 0 0 2px rgba(85, 221, 255, 0.5);
    }
  }
}
