:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: self-start;
  justify-content: center;
  width: 100%;
  height: var(--header-height);
  background-image: url('../../../assets/images/bg-desktop-light.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: 375px) {
    height: var(--mobile-header-height);
    background-image: url('../../../assets/images/bg-mobile-light.jpg');
    background-size: cover;
    background-position: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: var(--container-width);
    margin: 5rem 1.5rem 0;

    @media (max-width: 375px) {
      margin: 3rem 1.5rem 0;
    }
  }

  &__title {
    color: var(--very-light-gray);
    letter-spacing: 1rem;
    margin: 0;
    font-size: 2.5rem;
    transition: all 0.3s;

    @media (max-width: 375px) {
      font-size: 1.5rem;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    transition: all 0.3s;

    @media (max-width: 375px) {
      width: 19px;
      height: 19px;
    }
  }
}
