.todo-form {
  position: relative;
  width: var(--container-width);
  margin: -160px auto 0;

  &__form {
    background-color: var(--input-list-bg);
    margin: 1.5rem auto;
    border-radius: 6px;
    padding: var(--box-padding);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5rem;
    margin-top: 5px;
    color: var(--very-dark-grayish-blue-light);

    &::placeholder {
      color: var(--dark-grayish-blue-light);
      opacity: 1;
    }
  }

  &__error {
    color: var(--error-color);
    margin-bottom: 1rem;
  }
}
