:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todo-form {
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  margin: -140px 1.5rem 0;

  @media (max-width: 375px) {
    margin-top: -100px;
  }

  &__form {
    display: flex;
    gap: 1rem;
    background-color: var(--input-list-bg);
    border-radius: 6px;
    padding: var(--box-padding);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 375px) {
      padding: 0.7rem 1rem;
    }
  }

  &__text-input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5rem;
    margin-top: 5px;
    color: var(--very-dark-grayish-blue-light);

    &::placeholder {
      color: var(--dark-grayish-blue-light);
      opacity: 1;
    }
  }

  &__error {
    color: var(--error-color);
    margin-bottom: 1rem;
  }
}
